html,
body {
    margin: 0px;
    scroll-behavior: smooth;
    background-image: url("https://images.template.net/335715/IPL-Stadium-Background-Template-edit-online.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
}

.heading {
    font-size: 300%;
    text-align: center;
    padding: 5%;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;

}

.search-bar input,
select,
button {
    margin: 1vmax;
    height: 35px;
    font-size: 150%;
    border-radius: 20px;
}

.search-bar input {
    width: 30vmax;
    padding: 10px;
}

#players {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.player {
    background-color: rgba(241, 226, 14, 0.89);
    width: 15%;

    text-align: center;
    font-weight: 500;
    font-size: 140%;
    border: 4px solid black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 2px;
    margin: 5px;
}
#suggestion{
    display: flex;
    width: 30vmax;
    font-size: 150%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    border: 3px solid black;
}
#suggestion div{
    background-color: white;
    width: 29vmax;
    padding: 5px;
}

#suggestion div:hover{
    background-color: blue;
    color: white;
}
.main{
    margin-bottom: 80px;
}
@media (max-width:650px) {
    .player{
        width: 50%;
    }
    .search-bar{
        flex-direction: column;
    }
}